# Byte-compiled / optimized / DLL files
__pycache__/

# virtualenv
venv/

# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# media files
media/
!media/test/images/test*.jpg
!media/writers/images/default.jpg

*.log
*.sqlite3
