body{
    background-color: #222327;
    margin: 0;
    padding: 0;
    color:#fff;
    font-size:15px;
    font-family: "Noto Sans";
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}




.container{
    width: 100%;
    max-width:90% ;
    margin: 0 auto;
    padding: 0 15px;
}





/*Header
===================*/

.header{
    height: 160px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;


}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;


}

.header__logotype{
    text-decoration: none;
    color:#fff;
    font-size:30px;

    font-weight: 700;
}

.nav{

}

.nav__link{
    color:#fff;
    font-weight: 700;
    font-size:15px;
    text-decoration: none;
    padding: 8px;
}


.nav__link:after{
    background: #717171;
    height: 5px;
    width: 5px;
    content:"";
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    opacity: 0;
    transition: .3s;

}


.nav__link--sign{
    border:2px solid #e7a007;
    border-radius: 20px;
    color:#fff;
    background: inherit;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 700;
    transition: .3s;
    margin-right: 10px;
}

.nav__link--sign:hover{
    background: #e7a007;
    color:#000;
    border-color: #fff;
}

.nav__link:hover::after{
    opacity: 1;
}

.nav__photo{

}

.nav__photosearch{
    height: 17px;
    width: 17px;
    fill:#717171;
    margin-bottom: -5px;
    transition: .3s;
}

.nav__photo:hover .nav__photosearch{
    fill:#e7a007;
}

.nv--li{
    color:#fff;
    font-weight: 700;
    font-size:15px;
    text-decoration: none;
    padding: 8px;
}
.nv--li:after{
    background: #e7a007;
    height: 5px;
    width: 5px;
    content:"";
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    transition: .3s;
}

.search__item{
    display: none;
    text-align: right;
    margin-top: 10px;


}

.box input[type="title"]{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border:2px solid #717171;
    background: none;
    outline: 0;
    color:#fff;
    padding: 15px 5px;
    transition: .3s;
    z-index: 2000;
}

.box input[type="title"]:focus{
    border-color: #000;
}


/*Fixword
===================*/
.fixword{
    font-size: 15px;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;

    height: 80px;
    margin:auto;
    -webkit-transform: rotate(-90deg) translate(-50%,50%);
    transform: rotate(-90deg) translate(-50%,50%);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    justify-content: center;
}
.fixword__text{
    padding-top: 20px;
}


/*Intro
===================*/
.intro{
    margin-top: 170px;
}

.intro__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.intro__inner{
    height: 300px;
    width: 100%;
}

.intro__title{
    font-weight: 700;
    margin-top: -300px;
    font-size: 50px;
    padding-top: 80px;
    text-align: center;
}

.intro__post{
    height: 20px;
    width: 20px;
    fill:#fff;
    margin-right: 5px;
}

.intro__content{
    display: flex;
    margin-top: 20px;
    margin-left: 46%;
}

.intro__text{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;

}


/*Blogs
===================*/
.blog{
    display: flex;
    flex-wrap: wrap;
}


.blogs__item1{
    width: 46%;

    margin-top: -30px;
    z-index: 100;
    height: 350px;

    border-radius: 20px;
    transition:.3s;

    margin-bottom: 60px;
}

.blogs__item1:hover{
    transform: translateY(-10px);
}

.blogs__item2:hover{
    transform: translateY(-10px);
}

.blogs__item2{
    width: 96%;

    margin-top: -30px;
    z-index: 100;
    height: 350px;

    border-radius: 20px;
    transition:.3s;

    margin-bottom: 60px;
}

.blogs__item3{
    width: 31%;
    margin-top: -30px;
    z-index: 100;
    height: 350px;

    border-radius: 20px;
    transition:.3s;

    margin-bottom: 60px;
}

.blogs__item3:hover{
    transform: translateY(-10px);
}

.blogs__img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.blogs__content{
    margin-top: -350px;
}
.bi1{
    margin-right: 40px;
}

.bi2{
    margin-right: 40px;
}
.bi3{
}
.blogs__fon{
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}

.blogs__button{
    margin: 0 auto;
    margin-top: -30px;

}

.blogs__button--btn{
    border: 8px solid #717171;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}

.blogs__button--btn:hover{
    width: 30px;
    height: 30px;
    background: #e7a007;
    border-color:#e7a007;
}

.blogs__text{
    height: 200px;
    padding: 40px 30px 10px;
    margin: 1px;
    color: #fff;
}

.blogs__texting{
    font-size:20px;

    font-weight: 700;
    text-decoration: none;

    color:#fff;

}

.blogs__author{
    text-decoration: none;
    color:#fff;
    font-size:16px;
    font-weight: 700;
}

.blogs__auth{
    margin-left: 30px;
    margin-top: 10px;
}

.blogs__s{
    font-size: 15px;
    opacity: 0.8;
    color:#fff;
}

.blogs__btn{
    margin-left: 30px;
    margin-top: 80px;

}

.blogs__btn--btn{
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 10px;
    background: inherit;
    border:1px solid transparent;
    padding: 2px 5px;
    border-radius: 20px;
    transition: .3s;
}

.blogs__btn--btn:hover{
    background: #000;

}


/*Footer
===================*/

.footer__footer{
    display: flex;
}


.footer__col{
    width: 33%;
    text-align: center;
    margin: auto 0;

}

.footer__iconph{
    width: 30px;
    height: 30px;
    transition: .3s;
}
.footer__iconph:hover{
    transform: translateY(-5px);
}

.copyright{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.copy__text{
    opacity: 0.5;
    font-weight: 300;
    font-size:14px;
}

/*Burger
==============*/
.burger{
    display: none;
    padding: 15px 0;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    position: relative;

}




.burger__item:before {
    content: "";
    height: 100%;
    width: 28px;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    top: -8px;
}





.burger__item:after {
    content: "";
    height: 100%;
    width: 22px;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: -8px;
}



/*Media
============*/
@media (max-width:1024px){
    .blogs__item1{
        margin-right: 30px;
    }
}
@media (max-width:823px){


    .nav{
        position: absolute;
        right: 0;
        display: none;
        text-align: right;
        width: 50%;
        top: 60%;
        background:#e7a007;
        flex-direction: column;
        z-index: 1000;
    }

    .nav.show{
        display: flex;
    }

    .nav__link--sign{
        margin-right: 25px;
    }
    .nv--li{
        padding: 7px 40px;
    }

    .nav__link{
        padding: 7px 40px;
    }
    .nav__photosearch{
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .burger{
        display: block;
    }
    .search__item{
        margin-top: 250px;
        position: absolute;
        z-index: 2000;
        right: 0;
    }

    .box input[type="title"]{
        width: 100px;
        margin-right: 30px;
    }



    .blogs__item1{
        width: 100%;
        margin-right: 0;
    }
    .blogs__item2{
        margin-right: 0;
    }
    .footer__col{
        width: 50%;
        display: flex;
    }
    .fc1{
        display: none;
    }
    .nv{
        padding: 0;
        padding-right: 20px;
    }
    .footer__icon{
        margin-left: 90%;
    }
}

@media(max-width:414px){
    .blogs__text{
        font-size: 25px;
        padding: 10px;
        height: 150px;
    }
    .fixword__text{
        padding-top: 10px;
    }
    .fc2{
        display: none;
    }
    .copyright{
        margin-top: 30px;
    }
}
