body{
    background-color: #222327;
    margin: 0;
    padding: 0;
    color:#fff;
    font-size:15px;
    font-family: "Noto Sans";
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}




.container{
    width: 100%;
    max-width:90% ;
    margin: 0 auto;
    padding: 0 15px;
}





/*Header
===================*/

.header{
    height: 160px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;


}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;


}

.header__logotype{
    text-decoration: none;
    color:#fff;
    font-size:30px;

    font-weight: 700;
}

.nav{

}

.nav__link{
    color:#fff;
    font-weight: 700;
    font-size:15px;
    text-decoration: none;
    padding: 8px;
}


.nav__link:after{
    background: #717171;
    height: 5px;
    width: 5px;
    content:"";
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    opacity: 0;
    transition: .3s;

}


.nav__link--sign{
    border:2px solid #e7a007;
    border-radius: 20px;
    color:#fff;
    background: inherit;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 700;
    transition: .3s;
    margin-right: 10px;
}

.nav__link--sign:hover{
    background: #e7a007;
    color:#000;
    border-color: #fff;
}

.nav__link:hover::after{
    opacity: 1;
}

.nav__photo{

}

.nav__photosearch{
    height: 17px;
    width: 17px;
    fill:#717171;
    margin-bottom: -5px;
    transition: .3s;
}

.nav__photo:hover .nav__photosearch{
    fill:#e7a007;
}

.nv--li{
    color:#fff;
    font-weight: 700;
    font-size:15px;
    text-decoration: none;
    padding: 8px;
}
.nv--li:after{
    background: #e7a007;
    height: 5px;
    width: 5px;
    content:"";
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    transition: .3s;
}

.search__item{
    display: none;
    text-align: right;
    margin-top: 10px;


}

.box input[type="title"]{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border:2px solid #717171;
    background: none;
    outline: 0;
    color:#fff;
    padding: 15px 5px;
    transition: .3s;
    z-index: 2000;
}

.box input[type="title"]:focus{
    border-color: #000;
}

/*Fixword
===================*/
.fixword{
    font-size: 15px;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;

    height: 80px;
    margin:auto;
    -webkit-transform: rotate(-90deg) translate(-50%,50%);
    transform: rotate(-90deg) translate(-50%,50%);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    justify-content: center;
}
.fixword__text{
    padding-top: 20px;
}


/*Text*/
.text{
    margin-bottom: 30px;
}

.ts{
    margin-top: 170px;
}
.ts2{
    margin-top: 30px;
}

.text__text{
    font-weight: 700;
    font-size:15px;

    text-transform: uppercase;
}

/*Tags
===================*/
.tags{
    display: flex;
    flex-wrap: wrap;
}

.tag__item1{
    width: 48%;
    height: 220px;
    margin-bottom: 30px;
    transition: .3s;
}

.item__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.tag__item2{
    width: 100%;
    height: 220px;
    transition: .3s;
}

.tag__content{
    margin-top: -220px;
}

.ti1{
    margin-right: 30px;

}

.ti2{

}
.ti21{

}

.tt1{
    font-size:25px;
    color:#fff;
    padding: 30px 35px 150px 35px;
    font-weight: 700;
}
.tag__link{
    text-decoration: none;

}

.tag__item1:hover{
    transform: translateY(-10px);
}

.tag__item2:hover{
    transform: translateY(-10px);
}
.tags__item{
    transition: .3s;
    height: 70px;
    width: 14%;
    margin-bottom: 20px;
}

.tags__item:hover{
    transform: translateY(-10px);
}

.tag__title{
    font-size:25px;
    color:#fff;
    padding: 30px 35px 20px 35px;
    font-weight: 700;
}

.tag__text{
    font-size:16px;
    color:#fff;
    padding: 0 180px 20px 20px;
}

.tags2{
    display: flex;
    flex-wrap: wrap;
}

.tag2{
    margin-bottom: 100px;
}

.tags__title{
    padding: 20px 40px ;
    font-weight: 700;
    font-size: 20px ;
    color: #fff;
    margin-top: -70px;
}
.tsi1{
    margin-right: 30px;
}



/*Footer
===================*/

.footer__footer{
    display: flex;
}


.footer__col{
    width: 33%;
    text-align: center;
    margin: auto 0;

}

.footer__iconph{
    width: 30px;
    height: 30px;
    transition: .3s;
}
.footer__iconph:hover{
    transform: translateY(-5px);
}

.copyright{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.copy__text{
    opacity: 0.5;
    font-weight: 300;
    font-size:14px;

}

/*Burger
==============*/
.burger{
    display: none;
    padding: 15px 0;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    position: relative;

}




.burger__item:before {
    content: "";
    height: 100%;
    width: 28px;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    top: -8px;
}





.burger__item:after {
    content: "";
    height: 100%;
    width: 22px;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: -8px;
}


/*Media
==============*/
@media (max-width:1024px){
    .tags2{
        display: flex;
        flex-wrap: wrap;
    }
    .tags__item{
        width: 31%;
        margin-bottom: 30px;
        margin-right: 20px;
    }
    .tag2{
        margin-bottom: 30px;
    }
}

@media (max-width:823px){

    .nav{
        position: absolute;
        right: 0;
        display: none;
        text-align: right;
        width: 50%;
        top: 60%;
        background:#e7a007;
        flex-direction: column;
        z-index: 1000;
    }

    .nav.show{
        display: flex;
    }

    .nav__link--sign{
        margin-right: 25px;
    }
    .nv--li{
        padding: 7px 40px;
    }

    .nav__link{
        padding: 7px 40px;
    }
    .nav__photosearch{
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .burger{
        display: block;
    }
    .search__item{
        margin-top: 250px;
        position: absolute;
        z-index: 2000;
        right: 0;
    }

    .box input[type="title"]{
        width: 100px;
        margin-right: 30px;
    }
/*    Tags*/
    .tag__item1{
        width: 100%;
        margin-right: 0;
    }
    .tags__item{
        width: 30%;
    }
/*    Footer*/
    .footer__col{
        display: flex;
        width: 50%;
    }
    .fc1{
        display: none;
    }
     .nv{
        padding: 0 15px 0 0;
    }
    .fc2{
        margin-left: 55%;
    }
}

@media (max-width:667px){
    .tags__item{
        margin-right: 10px;
    }
    .fc2{
        margin-left: 50%;
    }
    .fixword__text{
        padding-top: 10px;
    }
}

@media (max-width:414px){
    .tag__title{
        padding: 10px;
    }
    .tag__text{
        padding: 0 10px 10px 10px;
        font-size: 15px;
    }
    .tag__item1{
        margin-right: 0;
    }
    .tags__item{
        width: 100%;

    }
    .tags__title{
        font-size: 18px;
    }
    .fc3{
        display: none;
    }
    .copyright{
        margin-top: 10px;
    }
    .fc2{
        width: 100%;
        margin-left: 45%;
    }
}
@media (max-width:375px){
    tags__item{
        width: 100%;
    }
}

