<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog BN</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    {% load get_datetime %}
    <link rel="stylesheet" href="{% static 'blog/article.css' %}">
    <script src="{% static 'blog/js/my_article.js' %}"></script>
</head>
<body>
    <svg style="display: none;">
        <symbol id="search" viewBox="0 0 24 24">
            <g> <path  d="M 18.4203 15.58 L 24 21.1597 L 21.1597 24 L 15.58 18.4203 C 13.9925 19.4718 12.0888 20.0841 10.0421 20.0841 C 4.49598 20.0841 0 15.5881 0 10.0421 C 0 4.49598 4.49598 0 10.0421 0 C 15.5881 0 20.0841 4.49598 20.0841 10.0421 C 20.0841 12.0888 19.4718 13.9925 18.4203 15.58 Z M 10.0421 16.0673 C 13.3697 16.0673 16.0673 13.3697 16.0673 10.0421 C 16.0673 6.71441 13.3697 4.01682 10.0421 4.01682 C 6.71441 4.01682 4.01682 6.71441 4.01682 10.0421 C 4.01682 13.3697 6.71441 16.0673 10.0421 16.0673 Z"/>
            </g>
        </symbol>
        <symbol id="next" viewBox="0 0 492.004 492.004" >
            <g>
                <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </g>
        </symbol>
    </svg>

    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div class="header__logo">
                    <a class="header__logotype" href="{% url 'blog:index' %}">Blog BN</a>
                </div>

                <nav class="nav">
                    <a class="nav__link" href="{% url 'blog:index' %}">Main</a>
                    <a class="nav__link" href="{% url 'blog:authors' %}">Authors</a>
                    <a class="nav__link" href="{% url 'blog:tags' %}">Tags</a>
                    {% if request.user.is_authenticated %}
                        <a class="nav__link--sign" href="{% url 'blog:my_page' %}">My page</a>
                    {% else %}
                        <a class="nav__link--sign" href="{% url 'blog:login' %}">Login</a>
                        <a class="nav__link--sign" href="{% url 'blog:sign_up' %}">Sign up</a>
                    {% endif %}
                    <a class="nav__photo" id="photobtn" href="">
                        <svg class="nav__photosearch">
                            <use xlink:href="#search"> </use>
                        </svg>
                    </a>
                </nav>
                <button class="burger" type="button" id="navToggle" >
                    <span class="burger__item">Menu</span>
                </button>
            </div>
            <div class="search__item" id="searitem">
                <div class="search__line">
                    <form action="{% url 'blog:search' %}" class="box" method="get">
                        <input type="title" id="title" name="q" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </header>


<div class="intro">
    <div class="intro__inner">
        <div class="container2">
            <div class="intro__btn">
                <a href="{% url 'blog:tag' article.tag.name %}" class="intro__btn--text">{{ article.tag.name }}</a>
            </div>
            <div class="intro__title">{{ article.name }}</div>
            <div class="intro__subtitle">
                <div class="intro__author">
                    <span class="intro__s">by </span><a class="intro__auth" href="{% url 'blog:writer' article.author.name %}">{{ article.author.name }}</a>
                    <span class="intro__s"> {% get_datetime article.pub_date %}
                    {% if article.last_edit != article.pub_date %}
                        (edited {% get_datetime article.last_edit %})
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixword">
    <div class="fixword__text">
        Blog from BN
    </div>
</div>

<div class="text">
    <div class="container">
        <div class="text__content">
            <div class="container2">
                {{ article.text }}
            </div>
        </div>
    </div>
</div>

<div class="button__spec">
    <a href="{% url 'blog:delete' article.name %}" class="nav__link--sign specbtn" id="show">delete article</a>
    <a href="{% url 'blog:edit' article.name %}" class="nav__link--sign specbtn" id="shown">edit article</a>
</div>

{% if comments %}
    <div class="reviews">
        <div class="container">
            <div class="review">
                <div class="container2">
                    <div class="comment__title">Comments</div>
                    <div class="comments">

                        {% for comment in comments %}
                            <div class="comments__block">
                                <div class="comments__up">
                                    <img src="{{ comment.author.image.url }}" class="comments__photo">
                                    <div class="comments__text">{{ comment.text }}</div>
                                </div>
                                <div class="comments__down">
                                    <div class="comments__name">{{ comment.author }}</div>
                                    <div class="comments__time">{% get_datetime comment.comment_date %}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
</div>
{% endif %}

<footer class="footer">
    <div class="container">
        <div class="footer__footer">
            <div class="footer__col">
                <div class="footer__logo">
                    <a class="header__logotype" href="{% url 'blog:index' %}">Blog BN</a>
                </div>
            </div>
            <div class="footer__col">
                <a class="nav__link" href="{% url 'blog:index' %}">Main</a>
                <a class="nav__link" href="{% url 'blog:authors' %}">Authors</a>
                <a class="nav__link" href="{% url 'blog:tags' %}">Tags</a>
            </div>
        </div>
        <div class="copyright">
            <div class="copy__text">
                ©  2020 B&K. All Rights Reserved
            </div>
            <div class="copyright__author">
                <span class="copy__text">Made by</span>  Bogdankov Nikita <span class="copy__text"> and </span> Grigory Novikov
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'blog/js/my_article.js' %}"></script>

</body>
</html>
