<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog BN</title>
    <meta name="google" content="notranslate" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/login_sign_up.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<svg style="display: none;">
   <symbol id="next" viewBox="0 0 492.004 492.004" >
            <g>
                <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </g>
        </symbol>
</svg>

<div class="contact">
    <div class="contact__right">
        <img src="{% static 'blog/images/breakfast.jpg' %}" alt="" class="contact__img">
    </div>

    <div class="contact__left">
        <div class="contact__back">
            <a class="contact__link" href="{% url 'blog:index' %}">
                <div class="contact__button">
                   <svg class="intro__nexting">
                        <use xlink:href="#next"> </use>
                    </svg>
                </div>
                <div class="contact__button--text">Back to homepadge</div>
            </a>
        </div>

        <div class="contact__title">
            <div class="contact__title--text">Sign up</div>
        </div>
        <div class="show">
            <div class="show__word">{{ message }}</div>
        </div>

        <form class="box" action="{% url 'blog:sign_up' %}" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <input type="submit" value="Sign up">
        </form>

        <div class="down">
            <div class="down__content">
                <div class="down__text">Already have an account?</div>
                <a class="down__link" href="{% url 'blog:login' %}">Sign in</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>
