<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog BN</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/tags.css' %}">
</head>
<body>

    <svg style="display: none;">
        <symbol id="search" viewBox="0 0 24 24">
            <g> <path  d="M 18.4203 15.58 L 24 21.1597 L 21.1597 24 L 15.58 18.4203 C 13.9925 19.4718 12.0888 20.0841 10.0421 20.0841 C 4.49598 20.0841 0 15.5881 0 10.0421 C 0 4.49598 4.49598 0 10.0421 0 C 15.5881 0 20.0841 4.49598 20.0841 10.0421 C 20.0841 12.0888 19.4718 13.9925 18.4203 15.58 Z M 10.0421 16.0673 C 13.3697 16.0673 16.0673 13.3697 16.0673 10.0421 C 16.0673 6.71441 13.3697 4.01682 10.0421 4.01682 C 6.71441 4.01682 4.01682 6.71441 4.01682 10.0421 C 4.01682 13.3697 6.71441 16.0673 10.0421 16.0673 Z"/>
            </g>
        </symbol>
    </svg>


    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div class="header__logo">
                    <a class="header__logotype" href="{% url 'blog:index' %}">Blog BN</a>
                </div>

                <nav class="nav">
                    <a class="nav__link" href="{% url 'blog:index' %}">Main</a>
                    <a class="nav__link" href="{% url 'blog:authors' %}">Authors</a>
                    <a class="nv--li" href="{% url 'blog:tags' %}">Tags</a>
                    {% if request.user.is_authenticated %}
                        <a class="nav__link--sign" href="{% url 'blog:my_page' %}">My page</a>
                    {% else %}
                        <a class="nav__link--sign" href="{% url 'blog:login' %}">Login</a>
                        <a class="nav__link--sign" href="{% url 'blog:sign_up' %}">Sign up</a>
                    {% endif %}
                    <a class="nav__photo" id="photobtn" href="">
                        <svg class="nav__photosearch">
                            <use xlink:href="#search"> </use>
                        </svg>
                    </a>
                </nav>
                    <button class="burger" type="button" id="navToggle" >
                        <span class="burger__item">Menu</span>
                    </button>
                </div>
                <div class="search__item" id="searitem">
                    <div class="search__line">
                        <form action="{% url 'blog:search' %}" class="box" method="get">
                            <input type="title" id="title" name="q" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="fixword">
    <div class="fixword__text">
        Blog from BN
    </div>
</div>

<!-- top tags -->

<div class="text ts" >
    <div class="container">
        <div class="text__text">Our top tags</div>
    </div>
</div>

<div class="tag">
    <div class="container">
        <div class="tags">

            {% if top_tags %}
                {% if top_tags|length == 1 %}

                    <div class="tag__item2 ti21">
                        <a class="tag__link" href="{% url 'blog:tag' top_tags.0.name %}">
                            {% if top_tags.0.image %}
                                <img src="{{ top_tags.0.image.url }}" alt="Here should be an image" class="item__img">
                            {% else %}
                                <img src="https://placehold.it/250x250" alt="Here should be an image" class="item__img">
                            {% endif %}
                            <div class="tag__content">
                                <div class="tt1">{{ top_tags.0.name }}</div>
                            </div>
                        </a>
                    </div>

                {% elif top_tags|length == 2 %}

                    <div class="tag__item1 ti1">
                           <a class="tag__link" href="{% url 'blog:tag' top_tags.0.name %}">
                           <img src="{{ top_tags.0.image.url }}" alt="" class="item__img">
                            <div class="tag__content">
                                <div class="tag__title">{{ top_tags.0.name }}</div>
                            </div>
                        </a>
                    </div>

                    <div class="tag__item1 ti2">
                        <a class="tag__link" href="{% url 'blog:tag' top_tags.1.name %}">
                            <img src="{{ top_tags.1.image.url }}" alt="" class="item__img">
                             <div class="tag__content">
                                 <div class="tag__title">{{ top_tags.1.name }}</div>
                             </div>
                         </a>
                    </div>

                {% else %}

                    <div class="tag__item1 ti1">
                           <a class="tag__link" href="{% url 'blog:tag' top_tags.0.name %}">
                           <img src="{{ top_tags.0.image.url }}" alt="" class="item__img">
                            <div class="tag__content">
                                <div class="tag__title">{{ top_tags.0.name }}</div>
                            </div>
                        </a>
                    </div>

                    <div class="tag__item1 ti2">
                        <a class="tag__link" href="{% url 'blog:tag' top_tags.1.name %}">
                            <img src="{{ top_tags.1.image.url }}" alt="" class="item__img">
                             <div class="tag__content">
                                 <div class="tag__title">{{ top_tags.1.name }}</div>
                             </div>
                         </a>
                    </div>

                    <div class="tag__item2 ti21">
                        <a class="tag__link" href="{% url 'blog:tag' top_tags.0.name %}">
                           <img src="{{ top_tags.0.image.url }}" alt="" class="item__img">
                            <div class="tag__content">
                                <div class="tt1">{{ top_tags.0.name }}</div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<!-- tags -->

{% if tags|length != 0 %}

    <div class="text ts2" >
       <div class="container">
            <div class="text__text">
            You might also like
            </div>
        </div>
    </div>

    <div class="tag2 tag">
        <div class="container">
            <div class="tags2">

                {% for tag in tags %}

                    <div class="tags__item tsi1">
                        <a class="tag__link" href="{% url 'blog:tag' tag.name %}">
                           <img src="{{ tag.image.url }}" alt="" class="item__img">
                            <div class="tags__content">
                                <div class="tags__title">{{ tag.name }}</div>
                            </div>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

{% endif %}

<footer class="footer">
    <div class="container">
        <div class="footer__footer">
            <div class="footer__col">
                <div class="footer__logo">
                    <a class="header__logotype" href="{% url 'blog:index' %}">Blog BN</a>
                </div>
            </div>
            <div class="footer__col">
                <a class="nav__link" href="{% url 'blog:index' %}">Main</a>
                <a class="nav__link" href="{% url 'blog:authors' %}">Authors</a>
                <a class="nv--li" href="">Tags</a>
            </div>
        </div>
        <div class="copyright">
            <div class="copy__text">
                ©  2020 B&K. All Rights Reserved
            </div>
            <div class="copyright__author">
                <span class="copy__text">Made by</span>  Bogdankov Nikita <span class="copy__text"> and </span> Grigory Novikov
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'blog/js/tags.js' %}"></script>

</body>
</html>
